<div class="columns">
  <div class="column is-6">
    <%= render(SyntaxHighlighterComponent.new(lexer: :ruby)) do %>
      <%= component_code %>
    <% end %>
  </div>
  <div class="column is-6">
    <%= render(SyntaxHighlighterComponent.new(lexer: :erb)) do %>
      <%= erb_code %>
    <% end %>
  </div>
</div>
