<%= component_controller do %>
  <%= reflex_tag(
          :execute,
          :button,
          "Perform long running action!",
          class: "button is-primary",
          type: "button"
      ) %>
  <% if @loading %>
    <p>Executing...</p>
    <p>
      <strong>Time left:</strong> <%= @counter %> seconds
    </p>
  <% else %>
    <p>Waiting...</p>
  <% end %>
<% end %>
