<%= component_controller do %>
  <button
      class="button is-primary"
      type="button"
      data-key="<%= key %>"
      data-reflex="click->ExpensiveComponentReflex#execute"
  >Perform long running action!</button>
  <% if @loading %>
    <p>Executing...</p>
    <p>
      <strong>Time left:</strong> <%= @counter %> seconds
    </p>
  <% else %>
    <p>Waiting...</p>
  <% end %>
<% end %>
