<%= render(ExpoPageComponent.new(
    title: "Local state",
    subtitle: "Every ViewComponentReflex component maintains its own local state",
    component: "counter"
)) do %>
  <div class="columns">
    <div class="column">
      <%= render(CounterComponent.new) %>
    </div>
    <div class="column">
      <%= render(CounterComponent.new) %>
    </div>
  </div>
<% end %>
