<%= render(ExpoPageComponent.new(
    title: "Local state",
    component: "counter"
)) do |component| %>
  <% component.with(:subtitle) do %>
    Every ViewComponentReflex component maintains its own local state
  <% end %>
  <div class="columns">
    <div class="column">
      <%= render(CounterComponent.new) %>
    </div>
    <div class="column">
      <%= render(CounterComponent.new) %>
    </div>
  </div>
<% end %>
