<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ViewComponentReflex
      </h1>
      <h2 class="subtitle">
        Select a component on the left to get started.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="subtitle">
      This website serves as a demonstration of how to use ViewComponentReflex to enhance ViewComponents with
      StimulusReflex.
    </h2>
    <ul>
      <li>
        <span class="icon">
           <i class="fab fa-github"></i>
        </span>
        <a href="https://github.com/joshleblanc/view_component_reflex">ViewComponentReflex</a>
      </li>
      <li>
        <span class="icon">
           <i class="fab fa-github"></i>
        </span>
        <a href="https://github.com/hopsoft/stimulus_reflex">StimulusReflex</a>
      </li>
      <li>
        <span class="icon">
           <i class="fab fa-github"></i>
        </span>
        <a href="https://github.com/github/view_component">ViewComponent</a>
      </li>
    </ul>
  </div>
</section>
