<%= render(ExpoPageComponent.new(
    title: "Todo",
    component: %w[todos todo create_todo]
)) do |component| %>
  <%= component.with_subtitle do %>
    I feel like you can't have a component demo page without a random todo app included...
    So here it is!
  <% end %>
  <div class="columns">
    <div class="column">
      <%= render(TodosComponent.new) %>
    </div>
  </div>
<% end %>
